body, html{
	margin:0px;
	}

h1, h2, h3{
	font-family:'Baron Neue',Arial, Helvetica, sans-serif;

	}

#logo{
	background:url(images/logo.jpg);
	height:183px;
	width:321px;
	margin: 20px 0px 0 15px;
	}

header h2{
	font-size:6em;
	color:#217888;
	text-align:center;
	margin: -35px 0px 30px;
		}
	

.half{
	width:50%;
	height:600px;
	float:left;
	display:inline;
	}	

.light{
	background-color:#8dbec8;
	}	
.dark{
	background-color:#8dc8c6;
	}	
	
.half h3{
	color:#fff;
	text-align:center;
	font-size:2em;
	
	}	
	
.half img{
	width:640px;
	margin: 0 auto;
	}	
	
.middle_img{
	width:640px;
	height:339px;
	margin:0 auto;
	
	}		
	
.light .middle_img{
	background:url(images/single.jpg);
	}	
	
.dark .middle_img{
	background:url(images/double.jpg);
	}		
	
#second{
	position: relative;
top: 600px;
}	
	
#second h2{
	font-family:"Avenir Next Condensed",Arial, Helvetica, sans-serif;
	text-align:center;
	font-size:6em;
	line-height:4em;
	color:#398b9b;	
	font-weight:400;
	}	
	
a{
	list-style:none;
	}
	
.half:hover{
	background-color:#c6eaf1;
	}	